*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city{
    background-image: url(city.png);
    width: 100vh;
    height: 36vh;
    background-repeat: no-repeat;
}

.highway{
    background-image: url(way.jpg);
}